@font-face {
	font-family: 'AkzidenzLight';
	font-weight: 300;
	src: url(/fonts/akzidenzgrotesk-light-webfont.ttf) format('truetype');
}

@font-face {
	font-family: 'Akzidenz';
	font-weight: 400;
	src: url(/fonts/akzidenzgrotesk-regular-webfont.ttf) format('truetype');
}

@font-face {
	font-family: 'AkzidenzMedium';
	font-weight: 500;
	src: url(/fonts/akzidenzgrotesk-medium-webfont.ttf) format('truetype');
}

@font-face {
	font-family: 'AkzidenzBold';
	font-weight: 700;
	src: url(/fonts/akzidenzgrotesk-bold-webfont.ttf) format('truetype');
}
