body {
	font-family: Akzidenz, sans-serif;
	background-color: $background;
}

.background {
	z-index: 1;
	position: relative;
	&::before {
		display: block;
		position: absolute;
		content: '';
		height: inherit;
		width: inherit;
		opacity: 0.8;
		z-index: -1;
		background-image: url('/images/background.png');
		background-color: $background;
		background-position: 45px 70px;
		background-repeat: no-repeat;
	}
}

.btn {
	background-color: $dark;
	color: $white;
	padding: $space;
	&:hover {
		background-color: lighten($dark, 10);
	}
}

.text {
	&--bold {
		font-family: AkzidenzBold;
	}
	&--medium {
		font-family: AkzidenzMedium;
	}
	&--ellipsis {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.bg-transparent {
	background-color: transparent;
}
