<template lang="pug">
	div.px-4.wrapper
		nuxt-link(to="/").h-12.flex.items-center
			GIcon.mr-6 arrow_left
			span.text--bold Matchmaking lobby
		GLine
		div.wrapper--small.pt-4
			div.flex.items-center.justify-between.mb-4
				h1.w-full.text-4xl.text--bold.tracking-tighter.text--ellipsis {{ lobby.name }}
				GIcon(v-if="lobby.isPrivate" width="12px") lock
			div.mb-4.badge.text--bold {{ lobby.badge }}
			div.flex.wrap.mb-8
				PlayerCard(
					v-for="player in players"
					:key="player.id"
					:player="player"
					@onInviteClick="onInviteClick"
				).mr-4
			LobbySettings
		FooterButton(:count="lobby.inQueue" @onClick="startMatchmaking")
</template>

<script>
import FooterButton from '@/elements/FooterButton'
import PlayerCard from '@/elements/PlayerCard'
import LobbySettings from '@/elements/LobbySettings'

export default {
	layout: 'clear',
	components: {
		FooterButton,
		PlayerCard,
		LobbySettings
	},
	data() {
		return {
			lobby: {},
			players: []
		}
	},
	asyncData() {
		// mocked data, in real life here will be server request
		return {
			lobby: {
				name: 'steveroesler’s lobby',
				badge: 'FIFA 19',
				isPrivate: true,
				inQueue: '4,201'
			},
			players: [
				{
					role: 'Team Leader/',
					name: 'steveroesler',
					img: '/images/avatar_1.png',
					isReady: true,
					group: 74
				},
				{
					role: 'Team Player/',
					type: 'invite'
				}
			]
		}
	},
	methods: {
		startMatchmaking() {
			const data = this.$store.getters['lobby/getSettingsData']
			console.log('request for matchmaking', data)
			// MOCK: make request to check of matchamking can be started then redirect with id in response
			this.$router.push('/matchmaking/1')
		},
		onInviteClick() {
			// MOCK: invite player
			console.log('invite:')
		}
	}
}
</script>

<style lang="scss" scoped>
.badge {
	width: fit-content;
	background-color: $dark;
	padding: 2px 10px 2px 2px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	color: $white;
	font-size: 10px;
}
.wrapper {
	height: calc(100% - 192px);
	&--small {
		height: calc(100% - 50px);
		overflow-y: auto;
	}
}
</style>
