<template lang="pug">
  div.h-24.w-full.bg-blue.px-6.flex.items-center.justify-between.text-white.fixed.bottom-0.left-0(
    @click="$emit('onClick')"
  )
    span.text--bold Play Now
    span {{ count }} in Queue
    GIcon(color="white") arrow_right
</template>

<script>
export default {
	props: {
		count: {
			type: String,
			default: '0'
		}
	}
}
</script>
