<template lang="pug">
	div.footerButtonRight(
		:class="color"
		@click="onClick"
	)
		slot
</template>

<script>
export default {
	name: 'FooterButtonRight',
	props: {
		color: {
			type: String,
			default: 'dark'
		},
		isSearching: {
			type: Boolean,
			default: true
		}
	},
	methods: {
		onClick() {
			if (this.isSearching) {
				this.$emit('onCancelClick')
			} else {
				this.$emit('onAcceptClick')
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.footerButtonRight {
	width: calc(100% - 5rem);
	height: 5rem;
	position: absolute;
	bottom: 3.5rem;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	transition: 0.3s;
	&.dark {
		background-color: $dark;
	}
	&.blue {
		background-color: $blue;
	}
}
</style>
