<template lang="pug">
  div
    template(v-for="select in selects")
      GLine
      div.flex.items-center.my-4
        h2.w-32.mr-6 {{ select.label }}
        GFormSelect.flex-1(:options="select.options" @onChange="onChange(select.key, $event)")
</template>

<script>
export default {
	name: 'LobbySettings',
	props: {},
	data() {
		return {
			selects: [
				{
					label: 'Type',
					key: 'type',
					options: ['Competitive', 'Tournament', 'Match']
				},
				{
					label: 'Gamemode',
					key: 'gamemode',
					options: ['Squad Battles', '1 vs 1']
				},
				{
					label: 'Lobby Status',
					key: 'lobby',
					options: ['Invite Only', 'Open']
				}
			]
		}
	},
	methods: {
		onChange(key, value) {
			const payload = {
				key,
				value
			}
			this.$store.dispatch('lobby/changeSetting', payload)
		}
	}
}
</script>
