<template lang="pug">
  div(@click="onInviteClick")
    img(:src="player.img || defaultAvatar").playerCard__img
    div.mt-4.text-xs.text-gray-200 {{ player.role }}
    div.mt-2.text--bold.flex
      template(v-if="player.type === 'invite'")
        span.mr-2 Invite Player
        GIcon(width="8px") caret_right
      span(v-else) {{ player.name }}
    div.flex.items-center.mt-4(v-if="player.isReady")
      div.mr-4.playerCard__ready.text--medium READY
      GIcon(width="10px" color="orange") g
      span.text-xs.text-orange.mb-2.ml-1.text--bold {{ player.group }}
</template>

<script>
export default {
	name: 'PlayerCard',
	props: {
		player: {
			type: Object,
			required: true
		}
	},
	data() {
		return {
			defaultAvatar: '/images/avatar_default.png'
		}
	},
	methods: {
		onInviteClick() {
			if (this.player.type === 'invite') {
				this.$emit('onInviteClick')
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.playerCard {
	&__img {
		height: 190px;
		width: 140px;
		object-fit: cover;
		border-radius: 6px;
	}
	&__ready {
		border: 1px solid $dark;
		padding: 3px;
		font-size: 10px;
		letter-spacing: 0.25em;
	}
}
</style>
