<template lang="pug">
  div.avatar
    img.avatar__img(:src="src")
</template>

<script>
export default {
	name: 'GAvatar',
	props: {
		src: {
			type: String,
			default: '/images/avatar_1.png'
		}
	}
}
</script>

<style lang="scss" scoped>
.avatar {
	width: 56px;
	height: 56px;
	border-radius: 100%;
	border: 2px solid $white;
	padding: 5px;
	&__img {
		border-radius: 100%;
	}
}
</style>
