<template lang="pug">
  select.bg-transparent(v-model="value")
    option(
      v-for="(option, index) in options"
      :key="option"
    ) {{ option }}
</template>

<script>
export default {
	name: 'GFormSelect',
	props: {
		options: {
			type: Array,
			default: () => []
		}
	},
	data() {
		return {
			value: this.options[0]
		}
	},
	watch: {
		value: {
			handler(value) {
				this.$emit('onChange', value)
			},
			immediate: true
		}
	}
}
</script>
