<template lang="pug">
  div.gicon.flex.items-center.justify-center(:style="{ width }")
    component(:is="iconLoader" :class="color")
</template>

<script>
export default {
	props: {
		width: {
			type: String,
			default: '20px'
		},
		color: {
			type: String
		}
	},
	computed: {
		iconLoader() {
			const iconName = this.$slots.default[0].text
			return () => import(`@/static/icons/${iconName}.svg`)
		}
	}
}
</script>

<style lang="scss" scoped>
.gicon svg {
	width: 100%;
}

.white path {
	fill: $white;
}

.orange path {
	fill: $orange;
}
</style>
