<template lang="pug">
  div.wrapper(:class="{ black: !isSearching }")
    div.wrapper__back(@click="goBack")
      GIcon(color="white") arrow_left
    div.wrapper__inner
      h3.text--bold Matchmaking Lobby
      template(v-if="isSearching")
        h1.wrapper__title Searching for compatible opponents
        p.wrapper__paragraph We’re searching our database of players to pair you with an opponent of similar skill
      template(v-else)
        h1.wrapper__title A match has been found for you!
        p.wrapper__paragraph We’ve found a compatible opponent for you to play Squad Battles with in FIFA 19
      div.flex.items-center.mt-12.mb-8
        div.w-24 Lobby
        GAvatar(:src="lobby.avatar")
      div.flex.items-center.mb-12
        div.w-24
          GIcon dash
        div(v-if="isSearching")
          span.text--bold.mr-2 {{ lobby.inQueue }}
          span in Queue
        div(v-else) By tapping accept, you agree to play a match that may last for up to 30 minutes.
    FooterButtonRight(
      :color="isSearching ? 'dark' : 'blue'"
      :isSearching="isSearching"
      @onCancelClick="onCancelClick"
      @onAcceptClick="onAcceptClick"
    )
      template(v-if="isSearching")
        span Searching...
        div.flex.items-center
          span.mr-6 {{ searchingTime | formatDate }}
          GIcon(color="white" width="12px") close
      template(v-else)
        span Accept
        div.flex.items-center
          span.mr-6 -{{ acceptTime | formatDate }}
          GIcon(color="white") arrow_right
</template>

<script>
import FooterButtonRight from '@/elements/FooterButtonRight'

export default {
	name: 'Id',
	components: {
		FooterButtonRight
	},
	data() {
		return {
			isSearching: true,
			lobby: {},
			searchingTime: 0,
			searchingTimeInterval: null,
			isAcceptTime: false,
			acceptTimeValue: 15,
			acceptTime: 0,
			acceptTimeInterval: null,
			acceptTimeTimeout: null
		}
	},
	asyncData() {
		// mocked data, in real life here will be server request
		return {
			lobby: {
				id: 1,
				avatar: '/images/avatar_1.png',
				inQueue: '4,021'
			}
		}
	},
	mounted() {
		this.initConnection()
	},
	destroyed() {
		clearInterval(this.searchingTimeInterval)
		this.clearAcceptTime()
		this.$store.dispatch('websocket/unsubscribe', 'search')
	},
	methods: {
		goBack() {
			this.$router.back()
		},
		onGameFound(message) {
			console.log('found!')
			if (message.status === 'found') {
				this.isSearching = false
				clearInterval(this.searchingTimeInterval)
				this.setAcceptTime()
			}
		},
		setAcceptTime() {
			this.isAcceptTime = true
			this.acceptTime = this.acceptTimeValue

			this.acceptTimeInterval = setInterval(() => {
				this.acceptTime -= 1
			}, 1000)

			this.acceptTimeTimeout = setTimeout(() => {
				clearInterval(this.acceptTimeInterval)
				this.isAcceptTime = false
				this.onGameTimeout()
			}, this.acceptTimeValue * 1000)
		},
		clearAcceptTime() {
			this.isAcceptTime = false
			clearInterval(this.acceptTimeInterval)
			clearTimeout(this.acceptTimeTimeout)
		},
		initConnection() {
			const payload = {
				key: 'search',
				fn: this.onGameFound.bind(this)
			}

			this.$store.dispatch('websocket/subscribe', payload)
			this.$store.dispatch('websocket/init') // MOCK response
			this.searchingTimeInterval = setInterval(() => {
				this.searchingTime += 1
			}, 1000)
		},
		onCancelClick() {
			console.log('canceled!')
			clearInterval(this.searchingTimeInterval)
			this.$router.back()
		},
		onGameTimeout() {
			console.log('Timeout!')
		},
		onAcceptClick() {
			if (this.isAcceptTime) {
				this.clearAcceptTime()
				console.log('accepted!')
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.wrapper {
	width: 100%;
	height: calc(100% - 6rem);
	z-index: 1;
	color: $white;
	position: relative;
	&__inner {
		height: calc(100% - 6rem);
		padding: 8.5rem 1rem 0 1rem;
		margin-bottom: 6rem;
		overflow-y: auto;
	}
	&::before {
		position: absolute;
		display: block;
		content: '';
		width: calc(100% - 1rem);
		height: calc(100% - 6rem);
		background-color: $blue;
		opacity: 0.9;
		transition: 0.3s;
		z-index: -1;
	}
	&.black::before {
		background-color: $dark;
	}
	&__back {
		position: absolute;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 6rem;
		height: 6rem;
		background-color: $dark;
	}
	&__title {
		margin: 1.5rem 0;
		font-size: 3rem;
		font-family: AkzidenzBold;
		line-height: 44px;
		letter-spacing: -3px;
	}
	&__paragraph {
		font-size: 1.125rem;
		line-height: 1.8rem;
		letter-spacing: -0.75px;
	}
}
</style>
